$blue: #0A59F8

// green
$green: #6D28D9
$greenDarker: #5B21B6
$greenDarkest: #4C1D95
$greenTint: #F5F3FF
$greenTintDark: #EDE9FE

$black: #242527
$grey: #f3f3f3
$greyDarker: #e0e0e0

$easing: cubic-bezier(0.76, 0, 0.24, 1)
