$blue: #0A59F8

// green
$green: #21873C
$greenDarker: #1e7a36
$greenDarkest: #175f2a
$greenTint: #e9f3ec

$black: #242527
$grey: #F9F9F9
$greyDarker: #e0e0e0

$easing: cubic-bezier(0.76, 0, 0.24, 1)
