.brands
    background-color: #f3f3f3
    padding: 2rem

.brands-text
    font-size: 1.25rem
    text-align: center

.brands-wrap
    margin-top: 24px

.brand-image
    transform: scale(0.9)
    margin: 0 1rem
