@import '_vars'

.button
    background-color: transparent
    border: 1px solid transparent
    border-radius: 4px
    outline: none
    cursor: pointer
    font-size: 1rem
    font-weight: 500
    line-height: normal
    font-family: 'Euclid Circular', sans-serif
    transition: all 0.15s $easing

.button-primary
    background-color: $green
    color: white
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06)
    &:hover
        background-color: $greenDarker
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05)
    &:active
        background-color: $greenDarkest

.button-outlined
    border-color: $greenDarker
    color: $greenDarker
    background-color: white
    &:hover
        // color: white
        background-color: $greenTint
    &:active

        background-color: #EDE9FE

.button-ghost
    background-color: $greenTint
    &:hover
        color: white
        background-color: $green
    &:active
        color: white
        background-color: $greenDarkest

.button-link
    &:hover
        color: $greenDarker
    &:active
        color: $greenDarkest

.button-disabled
    cursor: not-allowed
