@import '_vars'

.header
    position: sticky
    left: 0
    top: 0
    width: 100%
    z-index: 10
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 4%), 0 8px 16px 0 rgb(0 0 0 / 2%), 0 0 0 1px rgb(0 0 0 / 4%)
    background: #fff

.navbar
    display: flex
    align-items: center
    height: 4.5rem

.logo
    justify-content: center
    align-items: center
.logo-img
    max-width: 36px
.logo-text
    margin-left: 0.5rem
    font-size: 1.2rem
    font-weight: bold

.auth
    margin-left: auto

.auth-link
    margin: 0 4px

.auth-link
    .button
        padding: 0.5rem 1rem

.cat-bar
    background-color: $grey100
    padding: 0.75rem 0
    .link
        margin-right: 1.5rem
        font-size: 0.875rem
