@import '_vars'

.hero
    background-color: white
    // border-top: 1px solid $black
    // border-bottom: 1px solid $black

.hero-content
    display: flex
    min-height: 70vh
    justify-content: center
    max-width: 50%
    flex-flow: column
    h1
        margin-bottom: 1rem
        font-size: 3rem
        line-height: 1.1
    h2
        margin-bottom: 1.5rem
        font-size: 1rem
        font-weight: normal
        line-height: 1.6

.cta-wrap
    margin-bottom: 1rem
    .cta-link
        margin-right: 1rem
        .button
            padding: 0.75rem 1.25rem
