@import '_vars'

.hero
    background-color: white
    position: relative
    overflow: hidden

.hero-content
    min-height: calc( 100vh - 7.25rem)
    position: relative
    z-index: 1

.hero-content-left
    justify-content: center
    flex-flow: column
    flex: 1
    h1
        font-size: 3.5rem
        font-weight: bold
        line-height: 1.14
        letter-spacing: .28px
        margin-bottom: 1.5rem
        margin-top: -1.5rem
    h2
        margin-bottom: 1.5rem
        font-size: 1.25rem
        line-height: 1.4
        font-weight: normal

.hero-content-right
    flex: 1
    align-items: center
    img
        max-width: 100%

.cta-wrap
    margin-bottom: 1rem
    .cta-link
        margin-right: 1rem
        .button
            padding: .875rem 1.5rem

.hc-large
    height: 960px
    width: 960px
    top: -480px
    right: -480px
    background-color: $grey100

.hc-small
    height: 560px
    width: 560px
    bottom: -280px
    left: -280px
    background-color: $grey100
