@import '_fonts'
@import '_vars'

*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    font-family: 'Euclid Circular'
    font-size: 1rem
    overflow-x: hidden
    color: $black

li
    list-style-type: none

a
    text-decoration: none
    color: $black

input
    font-family: 'Euclid Circular'
    font-size: 1rem
    border: thin solid $black
    border-radius: 2px
    outline: none

.link
    will-change: color
    transition: all 0.15s $easing
    &:hover
        color: $greenDarker
    &:focus
        color: $greenDarkest

.d-flex
    display: flex

.cirle
    position: absolute
    border-radius: 50%
    z-index: 0
