@import '_vars'

.navigation
    margin-left: 3rem
    position: relative

.navigation-item
    margin: 0 4px

.navigation-link
    display: flex
    padding: 8px 12px
    border-radius: 4px
    font-weight: 500
